.todoapp {
  min-width: 200px;
}
.header {
  height: 40px;
}
.header h2 {
  margin-top: 18px;
}
.warning {
  font-size: 1.2em;
  font-weight: bold;
  color: red;
}
.toolbar {
  display: flex;
  flex-wrap: wrap;
}
